/* Footer.css */

.footer {
  padding: 48px 96px;
  background-color: #000;
  color: #fff;
  font-family: "Simplon Norm", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.footer h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.payment-img {
  width: 40px;
  height: 24px;
  cursor: pointer;
}
.separator{
  display: none;
}
.footer-newsletter,
.footer-contact,
.footer-currency,
.footer-links,
.footer-social-media,
.footer-payment-methods {
  margin-bottom: 20px;
}

.footer-newsletter {
  flex-grow: 2;
  margin-right: 30px;
}

.footer-side {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  align-self: flex-start;
}

.footer-newsletter-subscription {
  display: flex;
  align-items: center;
}

.email-input {
  background-color: #fff;
  padding: 12px 46px;
  color: #BFC8CD;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  border: none;
  outline: none;
  margin-right: 20px;
  width: 384px;
  border-radius: 0;
}

.subscribe-button {
  padding: 12px 46px;
  line-height: 22px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  opacity: 30%;
}

.footer-newsletter-subscription input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-newsletter-subscription button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer-currency-flag {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url('https://vignette.wikia.nocookie.net/althistory/images/7/7a/US_flag_with_62_stars_by_Hellerick%2C_rectangular_grid.svg/revision/latest/scale-to-width-down/640?cb=20120722025924') no-repeat center center;
  background-size: cover;
}

.footer hr {
  border: 1px solid #fff;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links-container {
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
}

.footer-links-column {
  margin-bottom: 20px;
  flex-grow: 1;
}

.footer-links-column ul {
  list-style: none;
  padding: 0;
}

.footer-links-column li {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  font-family: "Simplon Norm", sans-serif;
  margin-bottom: 14px;
}

.footer-social-icons {
  display: flex;
  gap: 10px;
}

.footer-payment-icons {
  display: flex;
  gap: 10px;
}

.payment-method-icon {
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 0;
}

/* Responsive styles for devices up to 768px */
@media (max-width: 768px) {
  .footer {
    padding: 12px;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .footer-side, .footer-contact, .footer-social-media{
    margin: 0px;
  }
  .footer hr {
    margin:0px;
  }

  .footer h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    margin-bottom: 4px;
    text-align: left;
  }
  .footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
  }
  .footer-contact,
  .footer-currency{
    margin-bottom: 8px;
  }
  .footer-newsletter,
  .footer-side,
  .footer-contact,
  .footer-currency,
  .footer-links-container,
  .footer-links-column,
  .footer-social-media,
  .footer-payment-methods {
    flex: 1 1 100%;
    margin: 10px 0;
    text-align: left;
    margin-bottom: 4px;
  }

  .email-input {
    width: calc(100% - 22px);
    margin-right: 0;
  }


  .footer-newsletter-subscription {
    flex-direction: row;
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .separator{
    margin: 0px;
    display: block;
    width: 100%;
    border: 1px solid #fff;
  }
  .footer-links-container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    flex-grow: 2;
  }
  .footer-links-column{
    margin: 0px;
  }
  .footer-social-icons,
  .footer-payment-icons {
    justify-content: flex-start;
  }
  .payment-img {
    width: 52px;
    height: 30px;
    cursor: pointer;
  }
  .footer hr {
    width: 100%;
  }

  .footer-copyright {
    margin-top: 20px;
  }
}
